.credit-card-validator {
  font-size: 14px;
  width: 40em;
  padding: 1em;
  border: 1px solid lightgray;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul.payment-networks-logos {
  list-style: none;
  display: flex;
}
ul.payment-networks-logos img {
  height: 3em;
  width: 5em;
  display: block;
  padding: 0.5em;
  opacity: .33;
}
ul.payment-networks-logos .selected img {
  opacity: 1;
}
