/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/style.css ***!
  \*********************************************************************/
.trello {
  display: flex;
  align-items: start;
}
.trello * {
  font: 14px sans-serif;
}
.column {
  margin: 1em;
  width: 20%;
  background: WhiteSmoke;
  padding: 1em;
}
.cards {
  padding: 0;
  list-style-type: none;
}
.trello textarea {
  resize: none;  
  width: 100%;
  border: 0;
  white-space: pre-line;
}

.delete {
  width: 1em;
  height: 1em;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: -1;
}
.cards li {
  padding: .5em;
  margin: 1em 0;
  white-space: pre-wrap;
}
.add {
  cursor: pointer;
}
.cards li:not(.title, .add) {
  position: relative;
  background: white;
  cursor: grab;
}
.cards li:hover .delete {
  z-index: 1;
}
.dragged {
  opacity: .2;
}
.drop-target {
  padding: 0;
}

